.postcreate-form{
  display: flex;
  flex-direction: column;
  background: #312442;
  border-radius: 25px;
  padding: 20px;
  margin: 10rem auto;
  font-weight: 300px;
  height: 500px;
  width: 650px;
}
.input-userName, .input-image-link, .input-cohort, .input-location, .textarea-content{
  width: 450px;
  border-radius: 6px;
  height: 40px;
  padding: 15px auto;
  margin: 15px auto;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  color: #fff;
  outline: none;
}
.submit-button{
  width: 135px;
  margin: 20px auto;
  border-radius: 25px;
  font-size: 25px;
}
.submit-button:hover{
  color: #fff;
  background-color: #312442;
  transition: 0.8s ease-in-out;
  opacity: 0.3;
  cursor: pointer;
}