.postcreate-form{
  display: flex;
  flex-direction: column;
  background: #312442;
  border-radius: 25px;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  margin-top: 65px;
  font-weight: 300px;
  height: 500px;
  width: 650px;
  box-shadow: 5px 8px 10px 5px rgba(49, 36, 66, 0.65);
  
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}
.input-userName, .input-image-link, .input-cohort, .input-location, .textarea-content{
  width: 450px;
  border-radius: 6px;
  height: 40px;
  padding: 15px auto;
  margin: 15px auto;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  color: #fff;
  outline: none;
  font-family: 'Capriola', sans-serif;
}
.submit-button{
  width: 135px;
  margin: 20px auto;
  border-radius: 25px;
  font-size: 25px;
  font-family: 'Iceberg';

}
.submit-button:hover{
  color: #fff;
  background-color: #eacdc2;
  transition: 1s ease-in-out;
  cursor: pointer;
}