.edit-button{
  margin: 10px;
  font-family: 'Iceberg';
  font-size: large;
  transition: all 0.2s;
  background-color: #EACDC2;
  color: #759AAB;
  padding: 5px 25px;
  border-radius: 20px;
}
button:hover{
cursor: pointer;
background-color: #312442;
color: #EDDEA4;
}
