.post-edit{
    display: flex;
    flex-direction: column;
    background: #312442;
    border-radius: 25px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300px;
    height: 500px;
    width: 650px;
    box-shadow: 10px 10px 10px 5px rgba(49, 36, 66, 0.65);
}

.edit-form button {
    align-self: flex-end;
    font-family: "Iceberg";
}

.post-content {
    width: 450px;
    border-radius: 6px;
    height: 40px;
    padding: 15px auto;
    margin: 15px auto;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    outline: none;
    font-family: 'Capriola', sans-serif;
}
.post-button{
    width: 135px;
    margin: 20px auto;
    border-radius: 25px;
    font-size: 25px;
    position: relative;
}
.post-button:hover{
    color: #fff;
    background-color: #eacdc2;
    transition: 1s ease-in-out;
    cursor: pointer;
}

.input-row {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.input-row label {
    color: white;
    font-size: 18px;
    font-family: 'Capriola', sans-serif;
    margin-right: 30px;
}

.form-inputs {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
}